+b.ui-autocomplete
    +e.inner
        +e.items
            +e.item Элемент 1
            +e.item Элемент 2 
            +e.item Элемент 3
            +e.item Элемент 4
            +e.item Элемент 5
            +e.item Элемент 6
            +e.item Элемент 7
            +e.item Элемент 8
            +e.item Элемент 9
            +e.item Элемент 10