+b.FOOTER.c-footer.row
    +e.cnt.cnt
        +e.logo
            -var mod = 'in-footer'
            -var logoImg = '/images/b-logo-link/logo_footer.png'
            include ../../blocks/b-logo-link/b-logo-link
        +e.contacts
            +e.contacts-links
                a(href='tel:88004563456') 8 800 456-34-56
                br
                a(href='mailto:info@olcompany.ru') info@olcompany.ru
                

            +e.contacts-address
                p 105120, г. Москва <br>3-ий Сыромятнический переулок <br>дом 3/9, строение 1 <br>3 этаж, офис 15
        