//$gutter: 15px;
$gutter: 0px;
$cntMaxWidth: 980px;
$cntWideMaxWidth: 1600px;
$columnsQty: 12;
$ordersQty: 10;
img{
    max-width: 100%;
}
.to-left {
    justify-content: flex-start
}

.to-right {
    justify-content: flex-end;
}
.self-to-right{
    margin-left: auto;
}
.self-to-left{
    margin-right: auto;
}
.to-center{
    justify-content: center;
}

.gr-grow{
    flex-grow: 100;
}

.pl_0 {
    padding-left: 0;
}

.pr_0 {
    padding-right: 0;
}
.p_0 {
    padding-left: 0;
    padding-right: 0;
}

@mixin grid($prefix, $suffix, $paddings){
    @for $i from 1 through $columnsQty {
        .#{$prefix}-#{$i}-#{$suffix}{
            $width: 100% / $columnsQty * $i;
            @include grid-item($width, $paddings);
        }
    }
    .full-screen-#{$suffix}{
        width: 100vw;
        min-height: 100vh;
    }
}
@mixin order($suffix){
    @for $i from 1 through $columnsQty {
        .order-#{$i}-#{$suffix}{
            order: $i;
        }
    }
}
@mixin direction($suffix){
    .dir-col-#{$suffix}{
        flex-direction: column;
    }
    .dir-col-rev-#{$suffix}{
        flex-direction: column-reverse;
    }
    .dir-row-#{$suffix}{
        flex-direction: row;
    }
    .dir-row-rev-#{$suffix}{
        flex-direction: row-reverse;
    }
}
@mixin margin($suffix){
    @for $i from 0 through 5 {
        .mt-#{$i}-#{$suffix}{
            margin-top: #{$i}em;
        }
        .mb-#{$i}-#{$suffix}{
            margin-bottom: #{$i}em;
        }
        .ml-#{$i}-#{$suffix}{
            margin-left: #{$i}em;
        }
        .mr-#{$i}-#{$suffix}{
            margin-right: #{$i}em;
        }
    }
}
@mixin padding($suffix){
    @for $i from 0 through 5 {
        .pt-#{$i}-#{$suffix}{
            padding-top: #{$i}em;
        }
        .pb-#{$i}-#{$suffix}{
            padding-bottom: #{$i}em;
        }
        .pl-#{$i}-#{$suffix}{
            padding-left: #{$i}em;
        }
        .pr-#{$i}-#{$suffix}{
            padding-right: #{$i}em;
        }
    }
}
@mixin margin-and-padding($suffix){
    @include margin($suffix);
    @include padding($suffix);
}
@mixin hidden($suffix){
    .hidden-#{$suffix}{
        display: none;
    }
}
@mixin visible($suffix){
    .visible-#{$suffix}{
        display: block;
    }
}
@mixin visible-and-hidden($suffix){
    @include visible($suffix);
    @include hidden($suffix);
}

@mixin grid-item($width, $paddings){
//    flex: #{$width} 0 0;
    flex: #{$width} 0 0;
    max-width: #{$width};
    padding-left: #{$paddings};
    padding-right: #{$paddings};
}

@mixin offset($suffix){
    @include offset-item($suffix, 0);
    @include offset-item($suffix, 1);
    @include offset-item($suffix, 2);
    @include offset-item($suffix, 3);
    
}
@mixin offset-item($suffix, $cols){
    .ml-col-#{$cols}-#{$suffix}{
        margin-left: 8.3333%*$cols;
    }
    .-ml-col-#{$cols}-#{$suffix}{
        margin-left: -8.3333%*$cols;
    }
    .mr-col-#{$cols}-#{$suffix}{
        margin-right: 8.3333%*$cols;
    }
    .-mr-col-#{$cols}-#{$suffix}{
        margin-right: -8.3333%*$cols;
    }
}

@mixin offset-to-win-border-in-big($suffix){
    .to-left-border-#{$suffix}{
        margin-left: calc( ( #{$cntMaxWidth} / 2 ) - 50vw - #{$gutter} );
    }
    .to-right-border-#{$suffix}{
        margin-right: calc( ( #{$cntMaxWidth} / 2 ) - 50vw - #{$gutter} );
    }
    
    .to-left-border-wide-#{$suffix}{
        margin-left: calc( ( #{$cntWideMaxWidth} / 2 ) - 50vw - #{$gutter} );
    }
    .to-right-border-wide-#{$suffix}{
        margin-right: calc( ( #{$cntWideMaxWidth} / 2 ) - 50vw - #{$gutter} );
    }
}
@mixin offset-to-win-border-in-sml($suffix){
    .to-left-border-#{$suffix}{
        margin-left: -#{$gutter};
    }
    .to-right-border-#{$suffix}{
        margin-rigth: -#{$gutter};
    }
}

@include grid('col', 'xs', '10px');
@include offset('xs');
.col-12-xs{
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 750px) {
    @include grid('col', 'sm', $gutter);
    @include offset('sm');
    @include offset-to-win-border-in-sml('sm');
    @include order('sm');
    @include direction('sm');
    @include margin-and-padding('sm');
    @include visible-and-hidden('sm');
    .col-12_sm{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 979px) {
    @include grid('col', 'md', $gutter);
    @include offset('md');
    @include offset-to-win-border-in-sml('md');
    @include order('md');
    @include direction('md');
    @include margin-and-padding('md');
    @include visible-and-hidden('md');
    .col-12_md{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 980px) {
    @include grid('col', 'lg', $gutter);
    @include offset('lg');
    @include offset-to-win-border-in-sml('lg');
    @include order('lg');
    @include direction('lg');
    @include margin-and-padding('lg');
    @include visible-and-hidden('lg');
    .col-12_lg{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 1200px) {
    @include grid('col', 'xl', $gutter);
    @include offset('xl');
    @include order('xl');
    @include direction('xl');
    @include margin-and-padding('xl');
    @include visible-and-hidden('xl');
    .col-12_xl{
        padding-left: 0;
        padding-right: 0;
    }
    @include offset-to-win-border-in-big('xl');
}
@media (min-width: 1600px) {
    @include grid('col', 'xxl', $gutter);
    @include offset('xxl');
    @include offset-to-win-border-in-big('xxl');
    @include order('xxl');
    @include direction('xxl');
    @include margin-and-padding('xxl');
    @include visible-and-hidden('xxl');
    .col-12_xxl{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: $mobMaw) {
    @include grid('col', 'mob', $gutter);
    @include offset('mob');
    @include offset-to-win-border-in-sml('mob');
    @include order('mob');
    @include direction('mob');
    @include margin-and-padding('mob');
    @include visible-and-hidden('mob');
    .col-12-mob{
        padding-left: 0;
        padding-right: 0;
    }
}


.row{
    width: 100%;
}
.container, .cnt{
    width: 100%;
    max-width: $cntMaxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    @include flex;
    flex-wrap: wrap;
    &_wide{
        max-width: $cntWideMaxWidth;
    }
    &_full{
        max-width: 100%;
    }
    @media (max-width: $tabMaw){
        padding-left: 10px;
        padding-right: 10px;
    }
}