.fancybox-content{
    @media (max-width: 600px) {
        padding: 15px !important;
    }
}

.fancybox-stage{
    .wpcf7{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}