$cPrimary: rgba(255, 242, 0, 1);
$cSecondary: rgba(47, 182, 231, 1);
$cText: rgba(65, 61, 75, 1);
$cLink: $cSecondary;

$cGrey: rgba(51, 51, 51, 1);
$greyL: rgba(244, 248, 246, 1);
$cLightBlue: rgba(204, 237, 249, 1);
//$breadcrumbsColor: rgba(128, 128, 128, 1);

$mobMaw: 600px;
$tabMaw: 1000px;
$deskMw: 1000px;

@import 'vars-ext';