include _mixins

+b.SECTION.b-catalogs.row
    +e.cnt.cnt
        +e.title.col-12-xs
            h3 Поставляем инструмент для решения любых задач
        +e.desc.col-12-xs
            p Благодаря широкой номенклатуре Sandvik Coromant <br>мы подберем для Вас оптимальное решение при наименьших затратах
        +e.parts.col-12-xs
            +b.b-catalog-select_t-1.col-12-xs
                +e.title_t-1.col-12-xs
                    p Инструменты для обработки сплавов
                +e.I.down.ui-icon_down
            +b.b-catalog-select_t-1.col-12-xs
                +e.title_t-1.col-12-xs
                    p Инструменты для металлов и сталей
                +e.I.down.ui-icon_down
        
        
        +e.subparts.col-12-xs
            +b.b-catalog-select_t-2
                +e.title_t-2
                    p Для обработки закаленных сталей
            +b.b-catalog-select_t-2
                +e.title_t-2
                    p Для нержавеющей стали, титановых и жаропрочных сплавов
            +b.b-catalog-select_t-2
                +e.title_t-2
                    p Для скоростной обработки алюминиевых сплавов
        
    
        +e.list.col-12-xs
            +b-catalog('1.png', '1')
            +b-catalog('2.png', '2')
            +b-catalog('3.png', '3')
            +b-catalog('4.png', '4')
            +b-catalog('5.png', '5')
            +b-catalog('6.png', '6')
            +b-catalog('7.png', '7')
        
        +e.part-desc.col-12-xs
            p Скачайте каталоги и брошюры Sandvik Coromant в формате PDF или смотрите их онлайн 
    