include _mixins

+b.SECTION.b-choose-us.row
    +e.cnt.cnt
        +e.title.col-12-xs
            h3 компании, которые нам доверяют
        +e.desc.col-12-xs
            p Мы готовы оперативно предложить нестандартные и эффективные решения
    +e.items
        +e.slider
            +b-choose-us-item('/images/b-choose-us/l-1.png', '1')
            +b-choose-us-item('/images/b-choose-us/l-2.png', '2')
            +b-choose-us-item('/images/b-choose-us/l-3.jpg', '3')
            +b-choose-us-item('/images/b-choose-us/l-4.jpg', '4')
            +b-choose-us-item('/images/b-choose-us/l-5.png', '5')
            





            