.b-companies {
    padding: 50px 0 10px;
    overflow: hidden;
    &__cnt {
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
    }
    h3 {
    }
    &__desc {}
    &__items {
        margin-top: 55px;
        width: 100%;
        @include flex;
        justify-content: space-between;
        align-items: center;
    }
}

.b-companies-item {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px 50px;
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-top: 0;
    }
    &__img-wrp {
        height: 150px;
        width: auto;
    }
    &__img {
        max-height: 150px;
    }
}