include _mixins

+b.SECTION.b-companies.row
    +e.cnt.cnt
        +e.title.col-12-xs
            h3 компании, которые нам доверяют
        +e.desc.col-12-xs
            p Мы готовы оперативно предложить нестандартные и эффективные решения
    +e.items
        +b-companies-item('/images/b-companies/l-1.png', '1')
        +b-companies-item('/images/b-companies/l-2.png', '2')
        +b-companies-item('/images/b-companies/l-3.jpg', '3')
        +b-companies-item('/images/b-companies/l-4.jpg', '4')
        +b-companies-item('/images/b-companies/l-5.png', '5')
            





            