body{
    overflow-x: hidden;
    font-family: "DIN Pro" , Arial;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: $cText !important;
    line-height: 1.25;
    letter-spacing: 0.035em;
    @media (max-width: $mobMaw){
        padding-top: 95px;
    }
}