//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner
//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner

+b.HEADER.c-header.row
    include ../../blocks/b-lk-bar/b-lk-bar
    include ../../blocks/b-header/b-header