doctype html
include parts/_mixins
html(lang='RU-ru')
    +head('Главная')
    
    body.body-front
        //<div id="app">{{ message }}</div>
        include components/c-header/c-header
        
        include blocks/b-intro/b-intro
        include blocks/b-catalogs/b-catalogs
        include blocks/b-supply/b-supply
        include blocks/b-order/b-order
        include blocks/b-geography/b-geography
        include blocks/b-advantages/b-advantages
        include blocks/b-order/b-order
        include blocks/b-choose-us/b-choose-us
        include components/c-footer/c-footer
        include parts/_footer-scripts
        
        script.
            jQuery(function($) {});
  
  
    