+b.b-header.row
    +e.cnt.cnt
        +e.logo.col-4-lg.order-1-lg.order-1-md
            -var mod = 'in-header'
            -var logoImg = '/images/b-logo-link/logo_header.png'
            include ../b-logo-link/b-logo-link
        
        
        +e.nav.col-6-lg.order-2-lg.col-12-md.order-3-md.to-right-md
            include ../b-nav/b-nav
        +e.phone-wrpr.col-2-lg.order-3-lg.order-2-md
            +e.A(href="tel:88004563456").phone 8 800 456-34-56
    +e.ham
        include ../../ui/ui-hamburger/ui-hamburger
