+b.c-lk.row
    +e.cnt.cnt
        +e.FORM.form.cnt
            +e.items.col-12-xs
                include ../../blocks/b-lk-row/b-lk-row
            
            +e.cnt_add.col-12-xs
                +e.BUTTON.submit.ui-btn_green._submit Отправить
                    i
                +e.BUTTON.add.ui-btn_secondary._add.js-add-item Добавить 
                    i
    