+b.SECTION.b-intro.row
    +e.bg
        +e.IMG(src='/images/b-intro/bg-1.jpg').bg-img
    +e.cnt.cnt
        +e.offer.col-7-lg.col-6-md.col-12-mob
            +e.offer-title
                h3 Комплексный поставщик <br>металлорежущего инструмента    
                h5.thin от ведущего мирового производителя
            +e.offer-desc-act.dir-col-md.col-xs-12
                +e.offer-desc
                    p Предложим Вам лучшее решение инструментального обеспечения
                +e.offer-act.mt-2-md
                    p
                        a(href='#').ui-btn.ui-btn_primary Получить КП
        
        +e.img-wrpr.col-5-lg.col-6-md.hidden-mob
            +e.IMG(src='/images/b-intro/image-sh.png').img
            