+b.SECTION.b-intro.row
    +e.bg
        +e.IMG(src='/images/b-intro/bg-1.jpg').bg-img
    +e.cnt.cnt
        +e.offer.col-7-lg
            +e.offer-title
                h3 Комплексный поставщик <br>металлорежущего инструмента    
                h5.thin от ведущего мирового производителя
            +e.offer-desc-act
                +e.offer-desc
                    p Предложим Вам лучшее решение инструментального обеспечения
                +e.offer-act
                    p
                        a(href='#').ui-btn.ui-btn_primary Получить КП
        +e.img-wrpr.col-5-lg
            +e.IMG(src='/images/b-intro/image-sh.png').img
            