+b.b-geography.row
    +e.cnt.cnt
        +e.title.col-12-xs
            h3 ГЕОГРАФИЯ ПОСТАВОК
        +e.desc.col-12-xs
            p Наша компания осуществляет доставку инструмента во все города России. <BR>
                | Работаем со всеми транспортными компаниями <BR>
                | или используем собственную курьерскую службу.
    +e.map
        +e.IMG(src='/images/b-geography/map.jpg').map-img