include mixins.pug

+b.NAV.b-nav
    +e.UL.list
        +nav-item( 'О компании', true , '#')
        +nav-item( 'Преимущества' , '', '#')
        +nav-item( 'Доставка' , '', '#')
        +nav-item( 'Контакты' , '', '#')