+b.b-order.row
    +e.cnt.cnt
        +e.data.col-8-lg.to-center-lg
            +e.act
                a(href="#").ui-btn.ui-btn_primary Получить КП
                
            +e.text
                h3 Чтобы получить персональное предложение, оставьте заявку