+b.b-order.row
    +e.cnt.cnt
        +e.data.dir-col-rev-mob
            +e.act.mt-2-mob
                a(href="#").ui-btn.ui-btn_primary Получить КП
                
            +e.text
                h3 Чтобы получить персональное предложение, оставьте заявку